.sidebar{
position:fixed;
top:60px;
left:0;
width:80px;
height:calc(100vh - 60px);
background:#fff;
border-right:1px solid #e5e5e5;
transition:0.3s;
overflow-y:auto;
z-index:1000;
scrollbar-width: none;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.open{
width:230px;
}

.menu-item{
display:flex;
align-items:center;
gap:20px;
padding:12px 20px;
font-size:16px;
cursor:pointer;
}

.menu-item:hover{
background:#f2f2f2;
}

.menu-item svg{
font-size:24px;
}

.explore{
padding:12px 20px;
font-size:14px;
color:#606060;
font-weight:500;
}

.sidebar hr{
margin:10px 0;
border:none;
border-top:1px solid #eee;
}